<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Traveler Tracker</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <!-- <script src="https://kit.fontawesome.com/9b6b3175df.js" crossorigin="anonymous"></script> -->
</head>

<nav class="navbar justify-content-between">
  <form type="submit" action="/">
    <button class="btn btn-outline-warning border-0">
      <i class="fas fa-home" style="font-size:24px"></i>
    </button>
  </form>
  <!-- <a href="/" class="btn btn-warning btn-lg active" role="button" aria-pressed="true"> Home </a> -->
  <span class="h1">
    <strong>
      Traveler Tracker
    </strong>
  </span>
  <span>
    {% if g.traveler %}
    <!-- <a href="/city/add"> Add City </a> -->
    <a> Hello {{ g.traveler.first_name }}! </a>
    <a href="/logout"> Log Out </a>
    {% else %}
    <a href="/signup" class="btn btn-outline-warning btn-sm active" role="button" aria-pressed="true"> Sign Up </a>
    <a href="/login" class="btn btn-outline-warning btn-sm active" role="button" aria-pressed="true"> Login </a>
    {% endif %}
  </span>
</nav>

<body>

  {% block contents %}
  {% endblock %}

</body>

<link rel="stylesheet" href="/static/style.css">
</html>