{% extends 'base.html' %}

{% block contents %}

<h2 class="page-header"> Purpose: </h2>
<br>
<p> Welcome! This site was created to show my knowledge in programming in Python, Javascript and 
    HTML/CSS. Using RESTful API's, a user (aka Traveler) is able to track multiple cities. Multiple 
    information is shown including local time, current weather conditions, and even current exchange 
    rate. A single Traveler is able to create a login so their settings are stored. </p>
<br>

{% endblock %}