{% extends 'base.html' %}

{% block contents %}

<h2 class="page-header">Verify Your New City</h2>
<br>
<h6>Found {{city_name}} in {{country_name}}. Are you sure you want to add this city?</h6>
<br>
<form action="/verified?city_name={{city_name}}&country_name={{country_name}}" method="POST">
    <input type="text" name="country_name" value="{{country_name}}" style="display: none;">
    <input type="text" name="city_name" value="{{city_name}}" style="display: none;">
    <button type="submit" class="btn btn-outline-success">Add</button>
    <a href="/city/add" class="btn btn-outline-warning">Go Back</a>
    <a href="/" class="btn btn-outline-danger">Cancel</a>
</form>


{% endblock %}